<md-dialog>
    <form ng-submit="answer(user)">
        <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>Add Developer </h2>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon ng-bind="'close'" aria-label="Close dialog"></md-icon>
              </md-button>
            </div>
        </md-toolbar>
    
        <md-content layout="column" layout-padding>
            <md-input-container class="md-block">
                <label>name</label>
                <input type="text" ng-model="user.name" required/>
            </md-input-container>

            <md-input-container class="md-block">
                <label>email</label>
                <input type="email" ng-model="user.email" required/>
            </md-input-container>
        </md-content>
    
        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary" type="submit">
                save
            </md-button>
            <md-button class="md-raised md-primary" ng-click="cancel()">
                cancel
            </md-button>
        </md-dialog-actions>
    
    </form>

</md-dialog>



 