<div>
  <md-content style="float:left;" layout-padding="" >
    <md-icon ng-bind="'account_circle'"></md-icon>
    {{currentUser|uppercase}}
  </md-content>
  <!--nav bar buttons-->
  <md-content layout="row" layout-align="end" class="md-dense">
  
    <md-button class="md-raised md-primary" ng-click="addDevice($event,developer)" >Add Device</md-button>
    <md-button class="md-raised md-primary" ng-click="addRack($event,developer)" >Add Rack</md-button>
    <md-button class="md-raised md-warn" ng-click="logout()">Logout</md-button>

  </md-content>
    
  <div class="main"  >
  <table class="main-table">
    <!-- search bar-->
    <tr><td colspan="9">
        <div class="search">
          <input type="text" placeholder="search" ng-model="search">
          <!-- search button with icon -->
          <button style="background-color: blueviolet; border: none;">
            <md-icon  ng-bind="'search'" style="color:white;" aria-label="search"/> 
          </button>
        </div>
      </td>
    </tr>

    <tr>
      <th ><span style="display:flex;">
        Device Number 
        <button ng-click="sortBy(null)" class="plane-btn">
          <md-icon ng-bind="'sort'" aria-label="sort" ></md-icon>
        </button>
      </span></th>
      <th>Device Model</th>
      <th>Architecture</th>
      <th>MAC</th>
      <th>Developer</th>
      <th>Blocked Since</th>
      <th>Blocked Till</th>
      <th>Comments</th>
      <th>Rack</th>
    </tr>
    <tr ng-repeat="d in Device| filter: search| orderBy: order:reverse">
      <td>{{d.device_number}}</td>
      <td>{{d.device_model}}</td>
      <td>{{(architecture | filter: {'id':d.architecture_id})[0].name}}</td>
      <td>{{d.mac}}</td>
      <td><span>{{(developer |filter: {'id':d.developer_id})[0].name}}</span></td>
      <td>{{d.blocked_since}}</td>
      <td><span ng-class="d.blocked_till!='' && 'chip-green-sm'" >{{d.blocked_till}}</span></td>
      <td>{{d.comments}}</td>
      <td>{{(rack |filter : {'id':d.rack_id})[0].name}}</td>
      <td>
        
        <!-- start -->
        <md-menu>
          <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
            <md-icon ng-bind="'more_vert'" aria-label="more_vert"></md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="editDevice($event)" value="{{d.device_id}}">
                <md-icon ng-bind="'edit'" md-menu-align-target></md-icon>
                Edit
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="delete($event)" value="{{d.device_id}}">
                <md-icon  ng-bind="'delete'"></md-icon>
                Delete
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
        <!-- end -->

      </td>
    </tr>
  </table>
  
  <div class="side-tables">
    <!-- Status and count table -->
  <table>
    <tr>
      <th>Status</th>
      <th>Count</th>
    </tr>
    <tr>
      <td><span class="chip chip-yellow">Occupied
        <md-icon ng-bind="'lock'" style="color: white;"></md-icon>
      </span></td>
      <td>{{status.occupied}}</td>
    </tr>
    <tr>
      <td><span class="chip chip-green">Free
        <md-icon ng-bind="'lock_open'" style="color: white;"></md-icon>
      </span></td>
      <td>{{status.free}}</td>
    </tr>
  </table>
<!-- Rack and count -->
  <table>
    <tr>
      <th>Name</th>
      <th>Devices</th>
    </tr>
    <tr ng-repeat="r in rack">
      <td><span class="chip chip-blue">{{r.name}}</span></td>
      <td>{{r.device}}</td>
    </tr>
  </table>

  <!-- Architecture and count -->
  <table>
    <tr>
      <th>Architecture</th>
      <th>Devices</th>
    </tr>
    <tr ng-repeat="a in architecture">
      <td><span class="chip chip-blue">{{a.name}}</span></td>
      <td>{{a.device}}</td>
    </tr>
  </table>
<!-- available developer-->
  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
    <tr ng-repeat="d in developer">
      <td>{{d.name}}</td>
      <td>{{d.email}}</td>
    </tr>
  </table>
  </div>
</div>
</div>