<md-dialog>
    <form ng-submit="return(architecture)">
        <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>Add Architecture </h2>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon ng-bind="'close'" aria-label="Close dialog"></md-icon>
              </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column" >
            <div layout-padding layout-gt-sm="row">
                <md-input-container class="md-block">
                    <label>Architecture Name</label>
                    <input type="text" ng-model="architecture.architectureName" required/>
                </md-input-container>
            </div>
        </md-dialog-content>
    
        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary" type="submit"> 
                save
            </md-button>
            <md-button class="md-raised md-primary" ng-click="cancel()">
                cancel
            </md-button>
        </md-dialog-actions>
    
    </form>    
</md-dialog>